
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
</head>
<body>

    <div class="container">
        <h2 style="margin-top: 0px;">Create Account</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="margin-top: 5px; border-radius: 50%;">Register</button>
        </form>
        <br>
        <p class="footer">Already have an account? <a href="login.html" style="color: black">Log in</a></p>
    </div>
</body>
</html>
