<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Flavor Fusion</title>
    <link rel="stylesheet" href="\static\css\about.css">
</head>
    <body> 
        {% include 'mysite/foo.html' %}
        <div class="about-container">
            <p style="text-align: center;">
                Welcome to <strong>Flavor Fusion</strong>, your go-to platform for seamless food ordering at the office!
            </p>
            <p>
                We understand the hassle of long queues and the precious time spent waiting for meals during busy workdays.
                That’s why we created Flavor Fusion — to ensure you enjoy delicious and fresh meals from your office canteen,
                delivered straight to your desk with just a few clicks.
                Our mission is to simplify your lunch breaks, offering you convenience, speed, and a delightful dining experience. 
                At Flavor Fusion, we prioritize quality, efficiency, and customer satisfaction.
            </p>
            <p style="text-align: center;">
                <strong>Enjoy the perfect fusion of taste and convenience, only with Flavor Fusion!</strong>
            </p>
        </div>
           </body>
    </html>
    